:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --white-light: 255, 255, 255; /* #ffffff */
  --cyan-mid: 0, 232, 255; /* #00e8ff */
  --magenta-mid: 255, 0, 117; /* #ff0075 */
  --black-dark: 1, 1, 1;

  --text-color: rgb(var(--white-light));
  --secondary-text-color: rgb(var(--white-mid));
  --unvisited-link-color: rgb(var(--cyan-mid));
  --focus-link-color: rgb(var(--cyan-mid));
}

body {
  color: var(--text-color);
  background: linear-gradient(180deg,#010101 0%,#012a50 100%);
}

a {
  text-decoration: none;
  margin: 0;
  color: var(--unvisited-link-color);
}
a:hover,
a:focus {
  text-decoration: none;
  color: var(--focus-link-color);
}
